extends layout

block content
    h1 Edit Book
    each book, i in books
        form#formUpdateBook(name="updatebook",method="post",action=`/updatebook?_method=PUT&id=${book._id}`)
            input#inputAuthor(type="text", placeholder="Author", name="author" value=`${book.author}`)
            input#inputTitle(type="text", placeholder="Title", name="title" value=`${book.title}`) 
            button#btnSubmit(type="submit") submit