extends layout

block content
    h1.
        Library 
    input(type="button" onclick="location.href='/newbook';" value="Add New Book")
    br
    br
    ol
        each book, i in books
            li
                div
                    p Author: #{book.author}
                    p Title : #{book.title}
                    form#formBook
                        input(type="button" onclick=`location.href='/editbook?id=${book._id}';` value="Edit")
                        input(type="submit" formmethod="post" formaction=`/deletebook?_method=DELETE&id=${book._id}` value="Delete")