extends layout

block content
    h1 New Book
    form#formAddBook(name="addbook",method="post",action="/addbook")
        input#inputAuthor(type="text", placeholder="Author", name="author")
        input#inputTitle(type="text", placeholder="Title", name="title")
        button#btnSubmit(type="submit") submit